body {
  font-family: Inter;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.titulo-section {
  color: #222;
  font-size: 1.563rem;
  font-weight: 600;
  border-bottom: 2px solid;
  padding-bottom: 4px;
  border-radius: 1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  color: #222;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;

  width: 210px;
  height: 40px;

  border-radius: 0.25rem;
  border: 0;
  background: #F7E02C;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.button:hover {
  filter: grayscale(50%);
}

.planos-section {
  margin: 2.5rem 1.25rem 1.875rem;
}

.section-aboutus {
  display: block;
}

@media (min-width: 1024px) {
  .section-aboutus {
    display: flex;
  }
}

.content-table-hours {
  margin-top: 6rem;
}

.tag-info-table {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
}

.tag-container-info-table-purple {
  position: relative;
  left: 0;
  bottom: 54px;
}

#tag-info-color-purple {
  background: #9C27B0;
}

.tag-container-info-table-blue {
  position: relative;
  left: 186px;
  top: -54px;
}


#tag-info-color-blue {
  background: #008eff;
}

.tag-container-info-table-green {
  position: relative;
  left: 308px;
  bottom: 54px;
}

#tag-info-color-green {
  background: #009688;
}

.tag-container-info-table-yellow {
  position: relative;
  left: 442px;
  bottom: 54px;
}

#tag-info-color-yellow {
  background: #222;
}



.tag-label-info-table {
  position: absolute;
  left: 31px;
  bottom: top;
  top: 4px;
  color: #000;
  font-weight: 500;
}